 #navbar {
	height: auto;
	text-align: center;
}

#container {
	position:fixed;
	top:45%;
	left:50%;
	transform: translate(-50%,-50%);
}

#contactBox {
	display: none;
	margin: auto;
	height: auto;
	width: auto;
	border-radius: 25px;
	padding: 1em;
    border: 2px solid red;
    margin-top: 1em;
}

#contactText {
	color: black;
}

h1 {
	text-align: center;
	font-family: 'Aref Ruqaa', serif;
	font-size: 3.81em;
	color: #333333;
}
 
h2 {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 1em;
	color: #333333;
}
 
li {
	padding: 0 1em 0 1em;
	margin: 1em, 1em, 1em, 10em;
	font-family: 'Patua One', cursive;
	color: #adadad;
	font-size: 1.05em;
	padding-bottom: 1em;
}

ul {
	list-style-type: none;
 }
 
a {
	color: inherit;
	text-decoration: none;
}
 
a:hover {
	color: red;
}
 
body {
	margin: auto;
}
